.list-question {
    th {
        text-align: center;
    }
    th:first-child {
        width: 10%;
    }
    th:last-child {
        width: 10%;
    }
}

table {
    td:first-child {
        width: 10%;
        text-align: center;
    }
    td:last-child {
        width: 10%;
        text-align: center;
    }
}